@model _04_Business.Models.UserModel

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

@if (ViewData["Message"] != null)
{
    <p class="bg-danger text-white">
        @ViewData["Message"]
    </p>
}

@if (Model != null)
{
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsBlockedText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsBlockedText)
            </dd>
        </dl>
    </div>
}

<div>
    @if (Model != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit User</a><br />
    }
    <a asp-action="Index">Back to User List</a>
</div>
