@model PaginatedList<_04_Business.Models.UserModel>
<div class="container">
    <h1 class="text-center">User List</h1>
    <p class="text-center">
        <a class="btn btn-outline-danger" asp-action="Create"><i class="fas fa-plus"></i> Create New User</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Role Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Is Blocked?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsBlockedText)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-lg fa-info-circle"></i> Details</a> |
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-lg fa-pen-square"></i> Edit</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }
    <div class="text-center">
        <a asp-action="AdminIndex" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-danger @prevDisabled">
            Previous
        </a>

        <a asp-action="AdminIndex" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-danger @nextDisabled">
            Next
        </a>
    </div>
</div>